.App{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  padding-left: calc(5vw + 230px);
  padding-right: 5vw;
}
.App_NoSidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.Home{
  width: calc((100vw - 230px - 10vw));
  height: 70vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Send{
  width: calc((90vw - 230px));
  height: 70vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Request{
  width: calc((90vw - 230px));
  height: 70vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Setting{
  width: calc((90vw - 230px));
  height: 70vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signout{
  width: calc((90vw - 230px));
  height: 70vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}





.Sidebar__FUNneyLogo{
  width: 2em;
  height: 2em;
}
