.App{
  padding-left: 230px;
}
.App_NoSidebar{
}

.Home{
  width: 80%;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Send{
  width: 80%;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Request{
  width: 80%;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Setting{
  width: 80%;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signout{
  width: 80%;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebar__FUNneyLogo{
  width: 2em;
  height: 2em;
}

.Sidebar__FUNneyLogo__header{
  width: 2em;
  height: 2em;
  margin-right: 10px;
}
