.App{
}

.Home{
  width:70vw;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: calc(230px + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Send{
  width:70vw;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: calc(230px + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Request{
  width:70vw;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: calc(230px + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Setting{
  width:70vw;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: calc(230px + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUp{
  width:70vw;
  height: 70vh;
  border: solid 1px black;
  margin-top: 15vh;
  margin-left: calc(230px + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
}





.Sidebar__FUNneyLogo{
  width: 2em;
  height: 2em;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
