@media screen and (min-width:1025px) {
.accountInformation {
  margin-top: 3vh;
  width: 70vw;
}

.showInformation {
  display: flex;
  justify-content: center;
}

.accountIcon {
  width: 2.5em;
  height: 2.5em;
  justify-content: center;
}

.space1 {
  width: 10px;
}

.user {
  font-size: 31px;
}

.space2 {
  width: 50px;
}

.property {
}

}

@media screen and (min-width:768px) and ( max-width:1024px){
  .accountInformation {
    margin-top: 3vh;
    width: 70vw;
  }

  .showInformation {
    display: flex;
    justify-content: center;
  }

  .accountIcon {
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
  }

  .space1 {
    width: 10px;
  }

  .user {
    font-size: 31px;
  }

  .space2 {
    width: 70px;
  }

  .property {
  }

  .space3 {
    height: 10px;
  }
}

@media screen and (max-width:767px) {
  .accountInformation {
    margin-top: 3vh;
    width: 70vw;
  }

  .showInformation {
    display: flex;
  }

  .accountIcon {
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
  }

  .space1 {
    width: 10px;
  }

  .user {

  }

  .space2 {
    width: 50px;
  }

  .property {

  }
}
