.accountInformation {
}

.showInformation {
  display: flex;
}

.accountIcon {
  width: 2.5em;
  height: 2.5em;
  justify-content: center;
}

.space1 {
  width: 10px;
}

.user {

}

.space2 {
  width: 50px;
}

.property {
}

.UserProperty {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.graph {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
