@media screen and (min-width:1025px) {
.SignoutButton{
  visibility:hidden;
}
}

@media screen and (max-width:1024px) {
.SettingBackground{
  width: auto;
  height: auto;
  /* background-color: silver; */
  }

.SignoutButton{
width:100vw;
position: fixed;
bottom:10px;
}
}
