@media screen and (min-width:1025px) {
.SignoutButton{
  visibility:hidden;
}

.SettingForm{
  width:40vw;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (max-width:1024px) {
.SettingBackground{
  width: auto;
  height: auto;
  /* background-color: silver; */
  }

.SignoutButton{
width:100vw;
position: fixed;
bottom:10px;
}

.SettingForm{
  width:80vw;
  position: fixed;
  margin-top: 30px
}
}
