.SignUpBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('./Image/funney.png');
}

.SignUp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  width: 30vw;
  height: 100vh;
  margin-left: 35vw;
  background-color: white;
}

.FUNneyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpFUNney {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
  margin-top: 1vh;
}

.SignUpFUNneyLogo {
  width: 5em;
  height: 5em;
}

.SignUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.SignUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.SignUpHref {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
