.FUNneyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.SignUpFUNney {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
  margin-top: 1vh;
}

.SignUpFUNneyLogo {
  width: 5em;
  height: 5em;
}

.SignUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.SignUpHref {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
