@media screen and (min-width:0px){
  .SignUpBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('./Image/funney.png');
    background-size: cover;
    background-position: 220px;
  }
  .SignUp {
    height: 100vh;
    width: 90vw;
    margin-left: 5vw;
    background-color: white;
    box-shadow: 0 0 10px 2px gray;
  }

  .SignUpFUNneyLogoPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .SignUpFUNney {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 220%;
    margin-top: 5vh;
  }

  .SignUpFUNneyLogo {
    width: 11em;
    height: 11em;
    margin-top: 10vh;
  }

  .SignUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .SignUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }

  .SignUpHref {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
  }
}

@media screen and (min-width:766px) {
  .SignUpBackground {
    position: fixed;
    background-image: url('./Image/funney.png');
    background-size: cover;
    background-position: 5vw;
  }

  .SignUp {
    position: fixed;
    height: 100vh;
    width: 500px;
    margin-left: 33vw;
    background-color: white;
    box-shadow: 0 0 10px 1px gray;
  }

  .SignUpFUNneyLogoPosition {
    display: flex;
    margin-right: 50vw;
    margin-top: 5vh;
    margin-left: -30vw;
  }

  .SignUpFUNney {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 220%;
    margin-top: 2vh;
  }

  .SignUpFUNneyLogo {
    width: 9em;
    height: 9em;
  }

  .SignUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .SignUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }

  .SignUpHref {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
  }
}

a {
  color: #FF6600;
  text-decoration: none;
}
