.FUNneyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.SignInForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.SignInButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignInFUNneyLogo {
  width: 8em;
  height: 8em;
}

.SignInFUNney {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  font-size: 150%
}

a {
text-decoration: none;
font-size: 90%;
}

.SignInHref {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
