@media screen and (min-width:1025px) {
.SignInBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('./Image/funney.png');
  background-size: cover;
}

.FUNneyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignIn {
  background-attachment: fixed;
  height: 100vh;
  width: 34vw;
  margin-left: 33vw;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
}

.SignInForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.SignInButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignInFUNneyLogo {
  width: 9em;
  height: 9em;
  margin-top: 10vh;
}

.SignInFUNney {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  font-size: 220%;
  font-family: cursive;
}

.SignInHref{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.SignInHref {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
 }
}

@media screen and (min-width:768px) and ( max-width:1024px){
 .FUNneyLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;
    }

    .SignIn {
      position: fixed;
      height: 100vh;
      width: 34vw;
      margin-left: 33vw;
      background-color: white;
    }

    .SignInForm {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
    }

    .SignInButton {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .SignInFUNneyLogo {
      width: 10em;
      height: 10em;
    }

    .SignInFUNney {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      font-size: 250%;
      font-family: cursive;
    }

    .SignInHref{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
}

@media screen and (max-width:767px) {
.FUNneyLogo {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10vh;
   }

   .SignIn {
     position: fixed;
     height: 100vh;
     width: 34vw;
     margin-left: 33vw;
     background-color: white;
   }

   .SignInForm {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30vh;
   }

   .SignInButton {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .SignInFUNneyLogo {
     width: 8em;
     height: 8em;
   }

   .SignInFUNney {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 5vh;
     font-size: 220%;
     font-family: cursive;
   }

   .SignInHref{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 5vh;
   }
}

a {
color: #FF6600;
text-decoration: none;
font-size: 80%;
}
